@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Public+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;

}

#header {
    background-color: #040714;
    position: fixed;
    z-index: 5;
    width: 100%;

}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 44px;
}

#header svg {
    width: 36%;
}

.right-wrapper button {
    background: transparent;
    padding: 9px 13px;
    font-size: 15px;
    cursor: pointer;
    color: #ededed;
    border: 1px solid #ededed;
    border-radius: 4px;
}

#loginButton:hover {
    background-color: white;
    color: #040714;

}

main {
    width: 100%;
    height: 100vh;
    background-image: url(assets/cta/cta-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainWrapper {

    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.logoWrapper {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}

.logoWrapper svg {
    width: 100%
}


.logoTwoWrapper img {
    width: 46%;
}

.buttonWrapper {
    text-align: center;
    width: 40%;
}

.buttonWrapper a {
    font-weight: 700;
    border-radius: 3px;
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 0px;
    text-align: center;
    background-color: #0063e5;
    border: none;
    font-size: 15px;
    cursor: pointer;
}


.logoTwoWrapper {
    text-align: center;
}

.paraWrapper {
    width: 40%;
    text-align: center;
}

.paraWrapper p {
    color: white;
    width: 100%;
    letter-spacing: 1px;
    font-size: 14px;
}
.image {
    display: flex;
    align-items: center;
}
.image h2 {
    color: #8c909d;
    cursor: pointer;
    font-size: 15px;
    margin-right: 14px;
}
.image h2:hover {
    text-decoration: underline;
}
.image img {
    border-radius: 50px;
    border: 2px solid #373d57;
    width: 53px;
}

/* Disney+ */
.main {
    width: 100%;
    height: 100vh;
}

.slider {
    width: 100%;
    height: 353px;
    overflow: hidden;
    box-shadow: 6px 23px 29px #0c101f;
}

.sliders {
    width: 500%;
    height: 353px;
    display: flex;

}

.sliders input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 353px;
}

.navigation-manual {
    margin-top: -30px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;

}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#theBody {
    background: #090b13;
    height: 200vh;
}

.channels-wrapper {
    display: flex;
    margin-top: 41px;
    gap: 30px;
    padding: 0px 44px;
}

.channels-wrapper img {
    width: 100%;
    box-shadow: 6px 23px 29px #0c101f;
    height: 134px;
    border-radius: 10px;
    border: 3px solid #25293b;
}

.recommendedMovies {
    display: flex;
    margin-top: 41px;
    gap: 30px;
    overflow: hidden;
}

.recommendedMovies img {
    height: 178px;
    border: 2px solid #3f4662;
    width: 292px;

    border-radius: 8px;
}


.RecMovieOne img {}

.recommended {
    padding: 18px 44px;
}

.recommended h2 {
    color: white;
    font-size: 17px;
    position: relative;
    top: 23px;
}

.pixar {
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(14 17 28) 0%, rgb(27 33 55) 48%, rgb(26 31 49) 100%);
}

.marvel {
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(14 17 28) 0%, rgb(27 33 55) 48%, rgb(26 31 49) 100%);
}

.starwars {
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(14 17 28) 0%, rgb(27 33 55) 48%, rgb(46 53 79) 100%);
}

.disney {
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(14 17 28) 0%, rgb(27 33 55) 48%, rgb(46 53 79) 100%);
}

.geographic {
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(14 17 28) 0%, rgb(27 33 55) 48%, rgb(26 31 49) 100%);
}

/* footer  */

.footerWrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 44px;
    align-items: center;
    height: 100px;
}

.footerWrapper h3 {
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;

}

@media only screen and (max-width: 450px) {
    .slider {
        width: 100%;
        height: 230px;
        overflow: hidden;
    }
    
    
    .sliders {
        width: 500%;
        height: 234px;
        display: flex;
    }
    .slide {
        width: 20%;
        height: 233px;
        transition: 2s;
    }
    .navigation-manual {
        margin-top: -42px;
        display: flex;
        justify-content: center;
    }
    .slide img {
        width: 100%;
        object-fit: cover;
        height: 196px;
        margin-top: 61px;
    }
    
    .channels-wrapper {
        display: flex;
        margin-top: 41px;
        gap: 30px;
        align-items: center;
        flex-direction: column;
        padding: 0px 44px;
    }
    .channels-wrapper img {
        width: 100%;
        box-shadow: 6px 23px 29px #0c101f;
        height: 177px;
        min-width: 300px;
        max-width: 300px;
        max-height: 300px;
        border-radius: 10px;
        border: 3px solid #25293b;
        min-height: 177px;
    }
    .recommended {
        padding: 18px 18px;
        text-align: center;
    }
    .recommendedMovies {
        display: flex;
        margin-top: 41px;
        flex-direction: column;
        gap: 30px;
        overflow: hidden;
        align-items: center;
    }
    .recommendedMovies img {
        border: 2px solid #3f4662;
        width: 100%;
        max-width: 300px;
        max-height: 300px;
        border-radius: 8px;
    }

    .footerWrapper img {
        width: 48px;

    }
    .footerWrapper h3 {
        font-size: 11px;
    }
    .logoWrapper {
        display: flex;
        align-items: center;
        width: 87%;
        justify-content: center;
    }
    .logoWrapper svg {
        width: 100%;
    }

    .buttonWrapper {
        text-align: center;
        width: 93%;
    }
    .paraWrapper {
        width: 100%;
        text-align: center;
    }


    .paraWrapper p {
        color: white;
        width: 100%;
        letter-spacing: 1px;
        font-size: 11px;
    }
    .logoTwoWrapper img {
        width: 87%;
    }


  }
